* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #a07644;
    --secondary-bg-color: #ffffff;
    --text-color: white;
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
}


/* Content on the left side */


.hambuger-menu {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 36px;
    cursor: pointer;
}

.hero-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--main-bg-color);
    color: var(--text-color);
    height: 100%;
    width: 35%;
    padding: 50px 5%;
}

.hero-details-container {
    margin-bottom: 20px;
}

.hero-details__heading {
    font-weight: bold;
}


/* Content on the right side */


.hero-content {
    display: flex;
    background: var(--secondary-bg-color);
    padding: 50px 5%;
    height: 100%;
    width: 65%;
    position: relative;

}

.hero-content__description {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mini-title {
    animation: moveInTop 1s ease-in-out;
}

.special-title {
    display: block;
    color: var(--main-bg-color);
    font-size: 48px;
}

h1 {
    font-size: 18px;  

    animation: moveInTop 1s ease-in-out;
}

.hero-content__text {
    margin-top: 20px;

    animation: moveInRight 1s ease-in-out;
}

.hero-content__tag {
    padding: 5px 10px;
    background: #cdcdcd;
    display: inline-block;
    color: rgb(50, 50, 50);
    border-radius: 30px;
    font-size: 14px;
    margin-top: 10px;

    animation: fadeIn 1s ease-in-out;
}

a {
    text-decoration: none;
    color: #fff;
}

.button {
    color: white;
    background: var(--main-bg-color);
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: bold;

    animation: moveInBottom 1s ease-in-out; 
    transition: all 0.2s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.button-outline {
    color: var(--main-bg-color);
    background: transparent;
    border: 1px solid var(--main-bg-color);

    animation: moveInBottom 1.2s ease-in-out;
}

.logo {
    width: 130px;
}

.hero-image {
    width: 400px;
    height: 550px;
    object-fit: cover;
    position: absolute;
    left: -200px;
    top: 150px;
    border: 5px solid var(--secondary-bg-color);

    animation: moveInLeft 1s ease-in-out;
}

.hero-content__button-wrapper {
    margin-top: 40px;
    display: flex; 
    gap: 20px;
}

.hero-content__intro {
    max-width: 500px;
}



/* Animation  */


@keyframes fadeIn {
    0% {
        scale: 0%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInLeft {
    0% {
        scale: 90%;
        transform: translateX(-100px);
    }

    100% {
        scale: 100%;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}